body {
    background-image: url("2.jpg");
    background-size: cover;
    background-position: center;
}

header {
    background: linear-gradient(to bottom,  #FFFFFF, darkseagreen);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px #000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #fff;
    color:  darkseagreen;
}

/* Styles for the main content */
main {
    margin: 20px;
}

h2 {
    margin-top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color:  darkseagreen;
    color: #fff;
}

/*button {*/
/*    background-color:  darkseagreen;*/
/*    color: #fff;*/
/*    border: none;*/
/*    padding: 5px 10px;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s;*/
/*}*/

/*button:hover {*/
/*    background-color:  darkseagreen;*/
/*}*/

button {
    background-color: darkseagreen;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #ffc107;
    transform: scale(1.1);
}

/* Styles for the footer */
footer {
    padding: 10px;
    text-align: center;
}